<div class="ssg-item" data-cat="{{baseFilter}}" data-file="{{filename}}">
	<div class="ssg-item-header">
		<div class="ssg-item-title">{{title}}</div>
		<div class="ssg-item-description">{{description}}&nbsp;<br><b class="ssg-pattern-label">Pattern name:</b><span class="ssg-pattern-name">{{filename}}</span></div>
	</div>
	<div class="sample">{{{sample}}}</div>
	<pre class="ssg-item-code"><code class='language-markup'>{{sample}}</code></pre>
</div>